<div class="navbar-bg"></div>
<div class="sidebar">
    <div id="nav-icon" ng-click="start();">
        <span></span>
        <span></span>
        <span></span>
    </div>
    
    <ul class="menu">
        <li ng-show = "IsShopShow" class="ShopDisabled"><a href="searchApp/index.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shop</a></li>
        <li><a href="#" ng-click="redirect('Payments')"><i class="fa fa-credit-card" aria-hidden="true"></i>Payments</a></li>
        <li class="messages" ng-click="condition || clickToChat()" ng-disabled="condition"><a href=""><i class="fa fa-envelope" aria-hidden="true"></i>Messages</a></li>
        <li><a href="#" ng-click="redirect('Settings')"><i class="fa fa-cog" aria-hidden="true"></i>Settings</a></li>
        <li><a href="" ng-click="about();"><i class="fa fa-cog" aria-hidden="true"></i>About</a></li>
    </ul>
</div>
<div class="card-coloumn">
    <div class="cst-information">
        <div ng-show = "IsShopShow" class="text-center cst-circle">
            <a href="searchApp/index.html" data-toggle="modal" ><span class="circle-icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span><p class="clearfix"></p><span class="text">Shop</span></a>
        </div>
        <div class="text-center cst-circle">
            <a href="#" ng-click="redirect('Payments')" data-toggle="modal"><span class="circle-icon"><i class="fa fa-credit-card" aria-hidden="true"></i></span><p class="clearfix"></p><span class="text">Payments</span></a>
        </div>
        <div  class="text-center messages cst-circle" ng-click="clickToChat()" >
            <a href="" data-toggle="modal"><span class="circle-icon"><i class="fa fa-envelope" aria-hidden="true"></i></span><p class="clearfix"></p><span class="text">Messages</span></a>
        </div >
        <div class="text-center cst-circle">
            <a href="#" ng-click="redirect('Settings')" data-toggle="modal"><span class="circle-icon"><i class="fa fa-cog" aria-hidden="true"></i></span><p class="clearfix"></p><span class="text">Settings</span></a>
        </div>
    </div>
</div>

<!-- Modal   data-target="#selection-popup -->
<div id="selection-popup" class="modal fade" role="dialog" ng-form="subForm">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">CHOOSE YOUR STORE {{messageInfo}}</h4>
            </div>
            <div class="modal-body" ng-repeat="item in data">
                
                <div class="radio" ng-class="{'has-error':subForm.radio1.$error.required && !subForm.radio1.$pristine}">
                    <label>
                        <input type="radio" ng-model="radio1" name="radio1" id="rad" value={{item.number} ng-click="selectRadio(item.number);">
                            {{item.name}}
                            </label>
                </div>
                
            </div>
            <div class="modal-footer">
                <input type="button" id="AddPay" class="btn btn-success" ng-disabled="subForm.$invalid" ng-click="storeFunc();" data-dismiss="modal" value="Submit">
                    <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal">
                        </div>
        </div>
    </div>
</div>
