﻿<div class="container-fluid mt-2">
    <div class="row">
        <div class="col col-sm-12">
            <div class="message-cart">
                <div class="icon">
                    <i class="fa fa-exclamation-triangle cart" aria-hidden="true"></i>
                </div>
                <div class="msg-text">
                    <!--<h2 class="title">Your search "{{name}}" <br> did not match any products in Department: {{department}}</h2>-->
                    <h2 class="title">Your search "{{name}}" <br> did not match any products in Department</h2>
                    <p>Try the following:</p>
                    <p>
                        <ul>
                            <!--<li>Using fewer terms</li>-->
                            <li>Using more general terms</li>
                            <li>Check your spelling</li>
                            <li>Searching in Department:All</li>
                        </ul>
                    </p>
                </div>
            </div>        
        </div>
    </div>
</div>

