﻿
    <!--Strat Main Container-->
    <div id="body-wrapper" class="chng-acc-sub-page">
    <header class="fixed-head">

        <div class="header-top">
            <div class="container">
                <p class="top-content">{{storeINFO}}</p>
            </div>
        </div>

        <!--Start Top Header-->
        <nav class="navbar navbar-default nav-custom">
            <div class="container menu-box">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  
                    <div class="main-logo"></div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    </header>
    <!--End Top Header-->
    <!--Start content-->
    <div class="main-container">
        <div class="content-wrapper">
            <div class="container page-inner">
                <h4>Your Issue Has Been Submitted</h4>
                <p class="sub-text">Please fill out the following information completely and accurately. A clear and detailed description of the problem will help to provide the quicker solution.</p>

                <div class="row">
                    <div class="col-sm-12">
                        <a href="/Home/LogIn">Return to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="footer"><p>© Copyright 2016  |   <a href="#/ReportIssue">Report Issue</a>  |  Version {{ versionNo}}</p></div>
</div>
   