﻿<!--Strat Main Container-->

<style type="text/css">
    .disabledbutton {
        pointer-events: none;
        opacity: 0.4;
    }
</style>

<div id="body-wrapper">
    <header class="fixed-head">

        <div class="header-top">
            <div class="container">
                <p class="top-content">{{storeINFO}}</p>
                <div class="user-name float-R"><span class="user-box">{{userFLName}}</span><input type="submit" value="Logout" class="logout" ng-click="logoutClick();"><i class="fa fa-sign-out" aria-hidden="true"></i></div>
            </div>
        </div>

        <!--Start Top Header-->
        <nav class="navbar navbar-default nav-custom">
            <div class="container menu-box">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>                
                        <div class="main-logo"></div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href=""><span class="menu-img"><i class="fa fa-user" aria-hidden="true"></i></span>Your Account</a></li>
                        <li><a ng-click="PaymentHistory()"><span class="menu-img"><i class="fa fa-history" aria-hidden="true"></i></span>Payment History</a></li>
                        <li><a href="#/changeAc"><span class="menu-img"><i class="fa fa-cog" aria-hidden="true"></i></span>Change Account Info</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    </header>
    <!--End Top Header-->
    <!--Start content-->
    <div class="main-container">
        <div class="content-wrapper">
            <div class="container page-inner">
                <h4>Your Account</h4>
                <p class="sub-text">Click pay to select or change the amount to pay per account or click Pay Minimum Due to pay the full amount due </p>

                <div class="table-responsive grid_wrapper">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped table-hover grid-custom right_align_2  width_1170 acc_table_grid tablelayout" id="tblProducts">
                        <thead>
                            <tr>
                                <th>Payment</th>
                                <th width="13%">Amount Due</th>
                                <th width="13%">Payments Due</th>
                                <th>Due Date</th>
                                <th>Account Type</th>
                                <th width="13%">Account Number</th>
                                <th>Items</th>
                                <th>Payment Frequency</th>
                                <th>Details</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="accounts in account">
                                <td title="Payment"><input type="button" ng-show="accounts.paymentAllowed" ng-click="payButton(accounts);" value="Pay" class="btn btn-success" id="payBtn"></td>
                                <td width="13%" title="Amount Due">${{accounts.amountOfPayment == 0 ? '0.00' : accounts.amountOfPayment}}</td>
                                <td width="13%" title="Payments Due">{{accounts.numberOfPayments}}</td>
                                <td title="Due Date">{{accounts.dueDate| date:'MM/dd/yyyy'}}</td>
                                <td title="Account Type">{{accounts.accountType}}</td>
                                <td width="13%" title="Account Number">{{accounts.accountID}}</td>
                                <td title="Items">{{accounts.itemDescription}}</td>
                                <td title="Payment Frequency">{{accounts.modeOfPayment}}</td>
                                <td title="Detail"><a ng-click="detailButton(accounts);" id="detailBtn"><i class="fa fa-file-text-o" aria-hidden="true"></i></a></td>
                            </tr>
                            <tr>
                                <td style="text-align:center"><strong>Total</strong>  <span class="none_lg"><strong>{{count}}</strong></span></td>
                                <td class="none_860"><strong>{{count}}</strong></td>
                                <td colspan="7"></td>
                            </tr>
                        </tbody>
                    </table>

                </div>



                <div class="row">
                    <div class="col-sm-12 text-right"><input type="button" ng-click="payMinDue();" value="Pay Minimum Due" class="btn btn-success"></div>
                </div>


                <h4>Payment you have selected to make</h4>
                <div ng-show="IsVisible1">
                    <div class="table-responsive grid_wrapper">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped table-hover grid-custom sel_pay_align tablelayout" id="tblSelPayment">
                            <thead>
                                <tr>
                                    <th width="20%">Amount Due</th>
                                    <th width="20%">Account Type</th>
                                    <th width="20%">Account Number</th>
                                    <th width="20%">Next Due Date</th>
                                    <th width="20%">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in payment">
                                    <td width="20%" title="Amount Due">${{data.amountOfPayment}}</td>
                                    <td width="20%" title="Account Type">{{data.accountType}}</td>
                                    <td width="20%" title="Account Number">{{data.accountID}}</td>
                                    <td width="20%" title="Next Due Date">{{data.nextDueDate| date:'MM/dd/yyyy'}}</td>
                                    <td width="20%" title="Remove"><a ng-hide="disableButton" ng-click="removeRow(data.accountID);"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                </tr>
                                <tr class="F_S13_1200">
                                    <td><span class="pull-left"><strong>Total</strong></span>  <span class="pull-right"><strong>{{footerCount}}</strong></span></td>
                                    <td colspan="4"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <input type="button" ng-show="isVisibleRemoveAll" value="Remove All" ng-click="removeALLRow();" class="btn btn-success">
                            <a ng-click="checkOut();" class="btn btn-success">Check Out</a>
                        </div>
                    </div>
                </div>

                <div ng-show="IsVisible2">
                    <p><strong>Total to pay: $0.00</strong></p>
                </div>

                <div id="dis" class="error">{{message}}</div>
                 
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">CHOOSE PAYMENT AMOUNT FOR {{messageInfo}}</h4>
                            </div>
                            <div class="modal-body" ng-repeat="payment in paymentOption">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio1" id="rad" value={{payment.credits}} ng-click="selectRadio(payment.credits);">
                                        {{payment.paymentDescription}}
                                    </label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="button" id="AddPay" class="btn btn-success" ng-click="pay();" data-dismiss="modal" value="Add Payment">
                                <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal">
                            </div>
                        </div>

                    </div>
                </div>

                <!-- endModal -->
                <!-- secondModal -->
                <!-- endModal -->
                <!-- secondModal -->
                <div class="modal fade" id="paymentDetail" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">ACCOUNT DETAIL FOR {{messageInfo}}</h4>
                            </div>
                            <div class="modal-body">
                                <p><strong>Terms:</strong> {{terms}}</p>
                                <p><strong>Payment Frequency:</strong> {{paymentFreq}}</p>
                                <p ng-show="(RemBal==0?false:true)"><strong>Remaining Balance:</strong> {{RemBal}}</p>
                              
                                <p ng-show="(!paymentallowed)" class="error">Please contact the store to pay on this account</p>

                                <div class="grid_wrapper">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped table-hover grid-custom" id="tblProducts">
                                        <thead>
                                            <tr>
                                                <th>Stock Number</th>
                                                <th>Item Description</th>
                                                <th>Brand</th>
                                                <th>Model Number</th>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="inventory in detailInventory">
                                            <td title="Stock Number">{{inventory.stockNumber}}</td>
                                            <td title="Item Description">{{inventory.description}}</td>
                                            <td title="Brand">{{inventory.brand}}</td>
                                            <td title="Modal Number">{{inventory.model}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal">
                            </div>
                        </div>

                    </div>
                </div>

                <!-- endModal -->


            </div>

        </div>
    </div>
    <div class="clear"></div>
    <div class="footer"><p>© Copyright 2016  |   <a href="#/ReportIssue">Report Issue</a>  |  Version {{ versionNo}}</p></div>
</div>
