﻿

    <div class="top-bar navbar-bg">
        <div class="brand-bg">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="../assets/images/logo.png">
            </a>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="custom-nav">
                    <button type="button" class="btn btn-info" id="storeinfomation">
                        <i class="fa fa-map-marker" aria-hidden="true"></i> <span>Store Info</span>
                    </button>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="navbar-collapse" id="storeinfo">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item">
                                <strong>Store: </strong> Departmental Store,  91/2 Street,  Florida, ST, 00121042</span>
                            </li>
                            <li class="nav-item">
                                <strong><i class="fa fa-phone"></i> </strong> (555) 555-5555 </span>
                            </li>
                            <li class="nav-item">
                                <strong><i class="fa fa-envelope"></i> </strong> departmental_store@xyz.com</span>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->

                </div>

                <!--<div class="cart-count">
                    <i class="fa fa-opencart cart" aria-hidden="true"><label class="cart-lebel">00</label></i>
                </div>-->

            </div>
        </div>

    </div>

    <div class="container-fluid mt-2">

        <div class="panel panel-default htfull">
            <!-- <div class="overflowprod">-->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title">Your Shoping Cart</h3>
                </div>
                <div class="col-md-12 cart-list">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th colspan="3">Weekly</th>
                                <th colspan="3">Monthly</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <th><span>Model Number</span></th>
                                <th><span>Description</span></th>
                                <th><span>Term</span></th>
                                <th><span>Rate</span></th>
                                <th><span>Term x Rate</span></th>
                                <th><span>Term</span></th>
                                <th><span>Rate</span></th>
                                <th><span>Term x Rate</span></th>
                                <th><span>Cash Price</span></th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="info in cartinfo">
                                <td data-label="Model Number">{{info.modelNumber}}</td>
                                <td data-label="Description">{{info.description}}</td>
                                <td data-label="Weekly"></td>
                                <td data-label="Term">{{info.term}}</td>
                                <td data-label="Rate">${{info.weeklyRate}}</td>
                                <td data-label="Term x Rate">${{info.weeklyRate * info.term}}</td>
                                <td data-label="Monthly"></td>
                                <td data-label="Term">{{info.termMonthly}}</td>
                                <td data-label="Rate">${{info.monthlyRate}}</td>
                                <td data-label="Term x Rate">${{info.termMonthly * info.monthlyRate}}</td>
                                <td data-label="Cash Price">${{info.price}}</td>
                                <td data-label="Action"><a type="button" ng-click="itemRemove(info.id);"><i class="fa fa-close"></i></a></td>
                            </tr>
                         
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="row mt-2">
                <div class="col-sm-12">
                    <button class="btn btn-primary pull-left" ui-sref="payDeposit">Pay Deposit</button>
                    <button class="btn btn-warning pull-right" ng-click="continueShopping();" >Continue Shoping  <i class="fa fa-angle-right"> </i></button>
                </div>
            </div>
            <!-- </div>-->
        </div>

      
    </div>


