﻿

    <div class="top-bar navbar-bg">
        <div class="brand-bg">
            <a class="navbar-brand">
                <img alt="Brand" src="../assets/images/logo.png">
            </a>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="custom-nav">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <button type="button" class="btn btn-info" id="storeinfomation">
                        <i class="fa fa-map-marker" aria-hidden="true"></i> <span>Store Info</span>
                    </button>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="navbar-collapse" id="storeinfo">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item">
                                <strong>Store: </strong> {{storeINFO}}
                            </li>
                            <li class="nav-item">
                                <strong><i class="fa fa-phone"></i> </strong> {{phoneNo}}
                            </li>
                            <li class="nav-item">
                                <strong><i class="fa fa-envelope"></i> </strong>{{EmaiAddress}}
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->

                </div>
                <div class="cart-count">
                    
                    <a type="button" ng-click="cart();" ><span>Cart</span> <i class="fa fa-opencart cart" aria-hidden="true"><label class="cart-lebel">{{cartNumber}}</label></i></a> 
                </div>

            </div>
        </div>

    </div>

    <!--<nav class="navbar navbar-default navbar-bg">

        </nav>-->

    <div class="container-fluid search-bar form-horizontal">

        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="control-label col-md-3">Department</label>
                    <div class="col-md-9">
                        <select data-ng-model="dept.selectedDepartment" class="form-control" ng-options="dept.department for dept in departmentsList track by dept.department" ng-selected="getBudgetItems(dept.selectedDepartment.department)" required>
                            <option value="">Select a department to search</option>
                        </select>

                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="form-group">
                    <label class="control-label col-md-3">Search</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <input type="text" kendo-auto-complete ng-model="prodN.productName" k-data-source="product" class="form-control" ng-keyup="getProductName(prodN.productName)">
                            <span class="input-group-btn">
                                <a class="btn btn-default" type="button" ng-click="search(dept.selectedDepartment)">
                                    <i class="fa fa-search"></i> <span> Search</span>
                                </a>
                            </span>
                        </div><!-- /input-group -->
                    </div>
                </div>
            </div>
        </div>
        

    </div>
<script src="../assets/js/custom.js"></script>
    <div ui-view=""></div>

